<div class="card" style="max-width: 20rem; margin: 0 auto; width: 100%">
  <div class="card-body">
    <h5 class="card-title">{{ficheId +' '+ ficheLibelle }}</h5>
    <p class="card-text"> {{ description }}</p>
    <a href="#" class="card-link">Url</a>

  </div>
  <div class="card-footer">
    <p class="card-text"><small class="text-muted">Created by {{ ficheOwner.name}}</small></p>
  </div>
</div>
<!--<div class="card" style="max-width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">{{ficheId +' '+ ficheLibelle }}</h5>
    <p class="card-text"> {{ description }}</p>
    <a href="#" class="card-link">Url</a>

  </div>
  <div class="card-footer">
    <p class="card-text"><small class="text-muted">Created by {{ ficheOwner.name}}</small></p>
  </div>
</div>-->

<!--<div class="container">
  <div class="row">
    <div class="col bg-secondary" style="padding: 3%;margin: 1%">
      <div class="card" style="max-width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">{{ficheId +' '+ ficheLibelle }}</h5>
          <p class="card-text"> {{ description }}</p>
          <a href="#" class="card-link">Url</a>

        </div>
        <div class="card-footer">
          <p class="card-text"><small class="text-muted">Created by {{ ficheOwner.name}}</small></p>
        </div>
      </div>
      <br>
      <div class="card " style="max-width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">{{ficheId +' '+ ficheLibelle }}</h5>
          <p class="card-text"> {{ description }}</p>
          <a href="#" class="card-link">Url</a>

        </div>
        <div class="card-footer">
          <p class="card-text"><small class="text-muted">Created by {{ ficheOwner.name}}</small></p>
        </div>
      </div>
    </div>
    <div class="col bg-secondary" style="padding: 3%;margin: 1%">
      <div class="card" style="max-width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">{{ficheId +' '+ ficheLibelle }}</h5>
          <p class="card-text"> {{ description }}</p>
          <a href="#" class="card-link">Url</a>

        </div>
        <div class="card-footer">
          <p class="card-text"><small class="text-muted">Created by {{ ficheOwner.name}}</small></p>
        </div>
      </div>
    </div>
    <div class="col bg-secondary" style="padding: 3%;margin: 1%">
      <div class="card" style="max-width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">{{ficheId +' '+ ficheLibelle }}</h5>
          <p class="card-text"> {{ description }}</p>
          <a href="#" class="card-link">Url</a>

        </div>
        <div class="card-footer">
          <p class="card-text"><small class="text-muted">Created by {{ ficheOwner.name}}</small></p>
        </div>
      </div>
    </div>
  </div>
</div>-->
