<h1>{{title}}</h1>

<div class="bg-light p-5 rounded">
  <table class="table align-middle">
    <thead>
      <th *ngFor = "let column of headers">
        {{column}}
      </th>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <td>{{user.name}}</td>
        <td>{{user.email}}</td>
        <td>{{user.password}}</td>
        <td>
          <button type="button" class="btn btn-danger btn-sm px-3" (click)="deleteUser(user)">
            <i class="fas fa-times"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
